/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/

Library/
/Temp/
obj/
bin/

*.psd
*.psd.meta

*.PSD
*.PSD.meta

*.gif
*.gif.meta

*.jpeg
*.jpeg.meta

*.ma
*.ma.meta
Assets/GITIgnore/
Assets/GITIgnore.meta
ProjectSettings/FbxExportSettings.asset

# Project files
/Assembly-CSharp*.csproj*
*.sln
*.suo
*.user

.idea/
.vs/
JetBrains/
JetBrains.meta


Assets/FbxExporters.meta
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj